<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="ryn_menu_root"
              name="Ryn Mart"
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="ryn_barang_menu_categ"
              name="Barang"
              parent="ryn_menu_root"
              sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="ryn_pegawai_menu_categ"
              name="Pegawai"
              parent="ryn_menu_root"
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="ryn_supplier_menu_categ"
            name="Supplier"
            parent="ryn_menu_root"
            sequence="30"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="ryn_transaksi_menu_categ"
            name="Transaksi"
            parent="ryn_menu_root"
            sequence="42"/>
</odoo>
